<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="/assets/logo.png" alt="logo"></a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['buildings']" routerLinkActive="active">Lokacije</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['cities']" routerLinkActive="active">Gradovi</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['cards']" routerLinkActive="active">Kartice</a>
          </li>
      </ul>
  </div>
</nav>

<div id="main">
    <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Footer Elements -->
    <div class="container" id="social">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-4">
          <div class="mt-2 mb-2 flex-center text-center">
  
            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com/kristina.matijasic.5/">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-4 mr-3 fa-2x"> </i>
            </a>
            <!-- Github-->
            <a class="gh-ic" href="https://github.com/kmatij10">
              <i class="fab fa-github fa-lg white-text mr-md-4 mr-3 fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="https://www.linkedin.com/in/kristina-matijasic-83762117a/">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-4 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com/kristina.matijasic/">
              <i class="fab fa-instagram fa-lg white-text mr-md-4 mr-3 fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://github.com/kmatij10"> Kristina Matijašić </a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->